{% extends "base.html" %}

{% block title %}{{ ad }}{% endblock title %}

{% block content %}
  <hr>
  <div>
    <p>{{ ad.category }}</p>
    <p>{{ ad.title }}</p>
    <p>{{ ad.description }}</p>
    <p>{{ ad.condition }}</p>
    <p>{{ ad.created_at }}</p>
  </div>
  <hr>
  <div>
    <form action="{% url 'ads:exchange' ad.pk %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <button>
        Отправить запрос
      </button>
    </form>
  </div>
{% endblock content %}