{% extends "base.html" %}

{% block title %}Список обменов{% endblock %}

{% block content %}
  <hr>
   Фильтры по статусу:
  {% for stat in status %}
    <a href="{% url 'ads:ex_filter' stat %}">{{ stat.label }}</a>
  {% endfor %}
  |
    <a href="{% url 'ads:ex_filter' "sender" %}">Мои запросы</a>
    <a href="{% url 'ads:ex_filter' "receiver" %}">Запросы ко мне</a>
  <hr>
  {% for ad in ads %}
    <div>
      <p>Запрос от: {{ ad.ad_sender }}</p>
      <p>Запрос на: {{ ad.ad_receiver }}</p>
      <p>Комментарий: {{ ad.comment }}</p>
      <p>Статус: {{ ad.status }}</p>
      <p>Дата создания: {{ ad.created_at }}</p>
    </div>
    <hr>
  {% endfor %}
{% include "paginatot.html" %}
{% endblock %}