<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Обмен вещами
        {% endblock title %}
    </title>
</head>
<body>
<header>
  <a href="{% url "ads:home" %}">Главная</a>
  {% if user.is_authenticated  %}
    <a href="{% url "ads:profile" %}">Профиль</a>
    <form action="{% url "ads:logout" %}" method="post" style="display: inline;">
    {% csrf_token %}
    <button type="submit">Выйти</button>
    </form>
  {% else %}
    <a href="{% url "ads:login" %}">Войти</a>
  {% endif %}
</header>

{% block content %}
{% endblock content %}
</body>
</html>